google-cloud-aiplatform
google-auth
requests
python-dotenv
reportlab
# The following is required for the Google Agent Development Kit (ADK)
google-adk
google-cloud-vision
google-cloud-firestore
google-cloud-storage 